{{!entering all the scripts to be utilized in index.handlebars}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Instagoal</title>
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="/static/css/mainpage.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/javascript/mainpage.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>