/*----------------------
---- Whole Page  ----
------------------------*/
html,body{
    height:100%;
    margin: auto;
    background-color: #edeae2;
}

.navbar {
    background-color: #edeae2;
}

.middle-text {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #00c0e1;
}

.home-pos {
    margin-top: 15px;
}
.home-link {
    font-family: gotham;
    font-weight: bold;
    color: #00c0e1;
    font-size: 14px;
}

.nav-button {
    margin-top: 20px;
}

.top-nav-button {
    font-family: gotham;
    font-weight: bold;
    background-color: #00c0e1;
    font-size: 14px;  
    color: white;
    border-radius: 4px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

.top-nav-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.navbar {
    border-bottom: #00c0e1;
    border-style: solid;
    border-bottom-width: 5px;
}

.page-nav {
    background-color: white;
    padding-bottom: 450px;
}

.name-text {
    font-family: gotham;
    font-weight: bold;
    color: #00c0e1;
    font-size: 18px; 
    margin-left: 10px;
    margin-top: 10px;
}

.name-and-pic {
    display: inline-flex;
}

.hr-links {
    border-width: 1px;
    border-style: solid;
    border-color: #c8c6c6;
}

.hr-account-settings {
    border-width: 1px;
    border-style: solid;
    border-color: #c8c6c6;
}

.page-links {
    font-family: gotham;
    font-weight: bold;
    color: #00c0e1;
    font-size: 14px; 
    margin-bottom: 5px;
}

.name-and-pic-my-account {
    display: inline-flex;
    margin-left: 20px;
}

.profile-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.image-and-text {
  display: inline-flex;  
  align-items: center;
}

.input-tags {
    font-family: gotham;
    font-weight: bold;
    color: #014a57;
    font-size: 12px;
    align-items: left;
}

.account-settings-input {
    font-family: gotham book;
    color: #787c7c;
    font-size: 15px;  
}

.account-settings-save {
    font-family: gotham;
    font-weight: bold;
    background-color: #00c0e1;
    font-size: 14px;  
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}