/*----------------------
---- Whole Page  ----
------------------------*/
html,body{
    height:100%;
    margin: auto;
}

.middle-text {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #00c0e1;
}

.home-pos {
    margin-top: 15px;
}
.home-link {
    font-family: gotham;
    font-weight: bold;
    color: #00c0e1;
    font-size: 14px;
}

.nav-button {
    margin-top: 20px;
}

.top-nav-button {
    font-family: gotham;
    font-weight: bold;
    background-color: #00c0e1;
    font-size: 14px;  
    color: white;
    border-radius: 4px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
}

.top-nav-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.navbar {
    border-bottom: #00c0e1;
    border-style: solid;
    border-bottom-width: 5px;
}
/*----------------------
---- Top Navbar  ----
------------------------*/



