/*----------------------
---- Whole Page  ----
------------------------*/
html,body{
    height:100%;
    margin: auto;
    background-color: #edeae2;
}

.navbar {
    background-color: #edeae2;
}

.middle-text {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #00c0e1;
}

.home-pos {
    margin-top: 15px;
}
.home-link {
    font-family: gotham;
    font-weight: bold;
    color: #00c0e1;
    font-size: 14px;
}

.nav-button {
    margin-top: 20px;
}

.top-nav-button {
    font-family: gotham;
    font-weight: bold;
    background-color: #00c0e1;
    font-size: 14px;  
    color: white;
    border-radius: 4px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

.top-nav-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.navbar {
    border-bottom: #00c0e1;
    border-style: solid;
    border-bottom-width: 5px;
}

.page-nav {
    background-color: white;
    padding-bottom: 450px;
}

.name-text {
    font-family: gotham;
    font-weight: bold;
    color: #00c0e1;
    font-size: 18px; 
    margin-left: 10px;
    margin-top: 10px;
}

.name-and-pic {
    display: inline-flex;
    border-bottom: #918f8a;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.page-links {
    font-family: gotham;
    font-weight: bold;
    color: #00c0e1;
    font-size: 14px; 
    margin-bottom: 5px;
}


