<nav class="navbar navbar-default">
		<div class="container-fluid">
		<div class = "row">
			<div class="col-md-2">
			</div>
			<div class="col-md-3 home-pos">
				<a><h1 class="home-link">Home</h1></a>
			</div>
			<div class="col-md-4">
				<h1 class="middle-text">Instagoal</h1>
			</div>
			<div class="col-md-3 nav-button">
				<button class="top-nav-button">InstaGoal It!</button><img class="top-nav-image" src='/static/images/sample.jpg'>
			</div>
		</div>
	</div>
</nav>
<div class="account-settings-page">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-3 page-nav">
			<div class="row name-and-pic">
				<img class="top-nav-image" src='/static/images/sample.jpg' /><p class="name-text">Sample Name</p>
			</div>
			<hr class="hr-links">
			<div class="link-list">
				 <ul style="list-style-type:none">
	  				<a><li class="page-links">My Account</li></a>
	  				<a><li class="page-links">Banks and Cards</li></a>
	  				<a><li class="page-links">Support</li><a>
				</ul> 
			</div>
		</div>
		<div class="col-md-7 my-account">
			<div class="row name-and-pic-my-account">
				<img class="top-nav-image" src='/static/images/calendar.jpg' /><p class="name-text">My Account</p>
			</div>
			<hr class="hr-account-settings">
			<div class="text-center">
				<div class="image-and-text">
					<img class="profile-image" src='/static/images/sample.jpg' /><p class="profile-text">Profile Photo</p>
				</div>
			</div>
		</div>
	</div>

</div>
